 html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

nav {
    position: fixed;
    margin: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(28, 28, 27);
    z-index: 1;
}

#logo {
    height: 60%;
    margin-left: 20%;
    margin-top: 20px;
}

ul{
    height: 100%;
    float: right;
    margin-right: 20%;
    list-style: none;
    display:flex;
}

li {
    display: inline-block;
    line-height: 60px;
    margin: 0 8px;
}

li a {
    font-size: 14px;
    margin-right: 40px;
    color: rgb(227, 227, 227);
    text-decoration: none;
}

li a:hover {
    color: rgb(108, 94, 255);
}

#icon {
    width: 80px;
    height: 90px;
    display: none;
}

@media screen and (max-width: 1048px){
    ul {
        height: 100vh;
        width: auto;
        background-color: rgb(28, 28, 27, 0.95);
        margin: 0;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 15vh;
    }

    #icon {
        display: inline-block;
        position:fixed;
        right: 0;
        cursor: pointer;
    }
}

#title-div {
    margin: 0px;
    width: 100%;
    height: 350px;
    background-image: url("./assets/images/title-background.webp");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-h1-tags-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-h1-tags {
    color: white;
}

#company-desc-div{
    width: 100%;
    height: 50%;
    min-height: 340px;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#desc-text {
    width: 55%;
    min-width: 700px;
    font-size: 25px;
    line-height: 35px;
    word-spacing: 9px;
    color: white;
}

#desc-more{
    width: 55%;
    min-width: 700px;
    color: rgb(79, 82, 247);
    font-size: 25px;
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    #company-desc-div {
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    #desc-text {
        font-size: 21px;
        line-height: 30px;
        word-spacing: 7px;
        min-width: 450px;
        width: 90%;
    }
    
    #desc-more {
        font-size: 18px;
        width: 90%;
        min-width: 450px;
    }

}


@media screen and (max-width: 450px) {

    #desc-text {
        font-size: 18px;
        word-spacing: 5px;
        min-width: 0;
    }

    #desc-more {
        font-size: 17px;
        min-width: 0px;
    }

    #title-h1-tags-div {
        width: 90%;
    }

    .title-h1-tags {
        font-size: 1.3em;
    }

}

#desc-more:hover {
    color:rgb(181, 181, 189);
}

#learning-courses-wrapper {
    height: auto;
    width: 100%;
    background-color: rgb(25, 25, 24);
    display: flex;
    justify-content: center;
}

#learning-courses-div {
    width: 52vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#courses {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 25px;
}

.course {
    display: flex;
    flex-direction: column;
    border: 1px ridge grey;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.course-img {
    width: 100%;
    height: 40%;
}

.course-title, .reg-text {
    font-size: 18px;
    color: white;
}

.course-details {
    width: 80%;
    text-decoration: none;
    color: rgb(79, 82, 247);
    font-size: 18px;
}

#partners-wrapper {
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
}

#partners-div {
    width: 52vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#partners-title {
    color:white;
    width: 100%;
    height: auto;
}

#partners {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-of-partners {
    width: 13vw;
    height: 3vw;
}

.partner {
    width: 13vw;
    height: 4vw;
    position: relative;
}

.middle-partners, .right-partners {
    opacity: 0;
}

.middle-partners {
    bottom: 4vw;
}

.right-partners {
    bottom: 8vw;
}

#dot-slider-div {
    margin-top: 70px;
    width: 50px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.dot-slider {
    background-color: white;
    cursor: pointer;
    height: 8px;
    width: 8px;
    border-radius: 5px;
}

.slide-button-wrapper {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-button {
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: white;
    background-color: rgb(56, 56, 56);
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #learning-courses-div, #partners-div {
        width: 60vw;
    }

    .course-details, .reg-text, .course-title {
        font-size: 15px;
    }

}

@media screen and (max-width: 800px) {

    #learning-courses-div, #partners-div {
        width: 80%;
    }
    
    #courses {
        grid-template-columns: repeat(2, 1fr);
    }

    #partners-title {
        font-size: 20px;
    }

    .slide-button {
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {

    #courses {
        grid-template-columns: 80vw;
        grid-auto-rows: 45vh;
    }

    #partners {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 20px;
    }

    .partner, .section-of-partners {
        width: 100%;
        height: 15vw;
    }

    .section-of-partners {
        height: 15vw;
    }

    .middle-partners {
        bottom: 15vw;
    }
    
    .right-partners {
        bottom: 30vw;
    }

    .slide-button {
        font-size: 40px;
    }
}